  #alumni_wrapper{
    /* background-color: rgba(232, 211, 211, 0); */
    font-family: 'Arial', sans-serif;
    position: relative;
} 

.AlumniHeroContainer {
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(1, 255, 103, 0.22), rgb(216, 190, 18, 0.1));
    overflow: hidden; 
/*  margin-top: 75px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    /* z-index: -2; */
}

.right-section {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding: 20px;
    margin: 30px;
    color: white;
}

.headingAlumni {
    font-size: 4rem;
    font-weight: bold;
    color: #40514E;
    position: relative;
    display: inline-block;
}

.sub-text {
    font-size: 2rem;
    padding-top: 15px;
    color: black;
    font-weight: 500;
    line-height: 1.5em;
    word-wrap: break-word;
}

img#bottom-image {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 25%;
    height: auto;
    margin: 10px;
    z-index: 1;
}

img#top-right {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 40vh;
    object-fit: cover;
    
}
@media only screen and (min-width: 1000px) {
    .container {
                    height: calc(35vh); 

    }
}

@media only screen and (max-width: 1000px) {
    img#bottom-image {
        width: 250px;
    }

}
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    .right-section {
        flex: 1; 
    }

    img#top-right {
    position: absolute;
    top: -70px;
    right: -80px;
    width: 30vh;
    object-fit: cover;
    
}

img#bottom-image {
        width: 200px;
    }


}
