.carousel{
    width:80%;
    border-radius: 122px;
}
.carousel img{
    border-radius: 122px;
    object-fit: cover;
}
.heading1{
    margin-top: 62px;
    margin-bottom: 30px;
    color: #40514E;
text-align: center;
font-family: Archivo;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 62px */
letter-spacing: -0.62px;
}