.heading {
    width: 100%;
    background: #fff;
    color: #004D6C;
    font-size: 2.5rem; /* 40px */
    text-align: center;
    line-height: 1.3;
    padding: 1rem 1rem;
    box-sizing: border-box;
    
  }
  
  .researchMain {
    width: 100%;
  }
  
  /* Medium screens */
  @media (max-width: 800px) {
    .heading {
      font-size: 1.875rem; /* 30px */
    }
  }
  
  /* Small screens */
  @media (max-width: 600px) {
    .heading {
      font-size: 1.5625rem; /* 25px */
    }
  }
  
  /* Extra small screens */
  @media (max-width: 400px) {
    .heading {
      font-size: 1.2rem; /* 19px */
    }
  }
  