body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}
.navbar2 {
  background-color: #40514e;
  color: #e4f9f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  width: 100%;
  position:fixed;
  z-index: 11;
 
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  /* margin-right: 10px; */
}

.title {
  margin: 0;
  margin-left:1rem;
  font-size: 1.8rem;
}
.title :hover {
  text-decoration: none;
  color: #f7f9e4;
}

.nav-links a {
  color: #e4f9f5;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Archivo", sans-serif;
  flex-basis: calc(33.33% - 20px);
  transition: transform 0.1s ease;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links a:hover {
  transform: scale(1.1);
}
.nav-links a:focus {
  transform: scale(1.15);
  color: #45eb09;
}
.hamburger {
  display: none;
}
.showMobMenu {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo-container > .title,
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 3rem;
    order: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    z-index: 2;
  }

  .myMobMenu {
    width: 15rem;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0rem 2rem;
    position: absolute;
    top: 8rem;

    right: 2rem;
    border-radius: 2rem;
    z-index: 2;
    background-color: var(--dark-color);
    font-size: 1.4rem;
  }
  .mobItem {
    margin: 1rem 0;
    color: var(--light-color);
    text-decoration: none;
  }
  .mobItem:hover {
    color: var(--light-color);
  }
}
