.Highlights{
    width:70%;
    margin: 40px;
}
.item{
    border-radius: 50%;
    background-color: rgba(64, 81, 78, 0.60);
    color: #40514E;;
    width: 100px;
    height: 100px;
    display: flex;
    font-family: 'Archivo', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item h1{
    font-weight: 800;
}
.item h4{
    font-weight: 700;
}
@media screen and (max-width:800px) {
    .Highlights{
        display: none;
    }
}