@import "../../../vars.css";
.homeHighlights{
    /* border: 1px solid black; */
    /* height:50vh; */
    width:100%;
}

.homeHighlights>.heading{
    
    /* margin-top: 1rem auto; */
    width: 100%;
     
    
}
.homeHighlights>.heading>h1{
    text-align: center;
    font-size: 3rem;
}
.homeHighlights>.heading{
    background:none;
}
.cardHolder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height:calc(100% - 20rem);
    height:80%;
}
.myCard{
    margin:1rem 2rem;
    height:100%;
    width:20%;
    /* background-color: rgb(229, 214, 195); */
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem ;
    min-width: 20rem;
    color:var(--light-color);
    /* justify-content: space-between; */
    
}
.cardImage>img{
    border-radius: 2rem 2rem 0rem 0rem;
}
.cardImage{
    
    background: none;
  
    height:40%;
    width:100%;
   
}
.cardText{
    font-size: 1.2rem;
    margin:0rem 1rem;
    text-align: center;
}


