.rThemeMain{
    width: 100%;
}
.ongoingResearchTable{
    width:100%;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 100px;
  }
  .table-container table{
    width:100%;
    font-size: 1.6rem;
    height: fit-content;

  }
  .tableTitle h2{
   padding-bottom: 5px;
   color: #004D6C;
   font-size: 3rem;
  }
  
  /* Table header (th) styling */
  .table-container th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    color: #004D6C;
    padding: 8px;
    text-align: left;
  }
  
  /* Table row (tr) styling */
  .table-container tr {
    border: 1px solid #dddddd;
    height: fit-content;
  }
  
  /* Table cell (td) styling */
  .table-container td {
    border: 1px solid #dddddd;
    padding: 0px 6px;
    text-align: justify;
  }
  
  /* Alternate row background color */
  .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect on rows */
  .table-container tr:hover {
    background-color: #e0e0e0;
  }

  @media (max-width:800px){
    .table-container {
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 0px 50px;
    }
    .table-container table{
      font-size: 1.3rem;
    }
    .tableTitle h2{
      padding-bottom: 5px;
      font-size: 2rem;
     }
  }
  @media (max-width:500px){
    .table-container {
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 0px 10px;
    }
    .table-container table{
      font-size: .8rem;
    }
    .tableTitle h2{
      padding-bottom: 5px;
      font-size: 1.4rem;
     }
  }
  @media (max-width:300px){
    .table-container {
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 0px 10px;
    }
    .table-container table{
      font-size: .7rem;
    }
    .tableTitle h2{
      padding-bottom: 5px;
      font-size: 1rem;
     }
  }