.tMain{
width:100%;

margin-top: 20px;
padding: 10px 50px;
margin-bottom: 20px;
display: flex;
justify-content: center;
}
.themeBlock>.right{
width:45%;
float: left;
height: 80%;
}
.themeBlock>.left{
width:45%;
height:100%;
overflow: hidden;

}
.themeBlock{
    width:70%;
    display: flex;
    height: 35rem;
flex-shrink: 0;
padding: 5px 43px;
border-radius: 3.5rem;
background: #FFF;
justify-content: space-between;
align-items: center;


}
.themeBox{
    width: 100%;
    height: 100%;
border-radius: 3.5rem;
background: #FFF;
padding: 5px 0px;
float: right;
justify-content: space-between;
box-sizing: border-box; 
  margin-bottom: 0px;

}
.title1{
height:auto;
/* padding-top: 10px; */
color: #004D6C;
font-size: 3vw;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.desc{
max-height: 60%;
width: 100%;
flex-shrink: 0;
color: #A6A6A6;
font-size: 1.5vw;
font-weight: 400;
line-height: normal;
padding-bottom: 9px;
}
.learnMore{
position: absolute;
/* height:8%; */
display: inline-flex;
padding: 1vw 2vw;
align-items: center;
border-radius: 8px;
background: #30E3CA;
color: #004D6C;
font-size: 1.4vw;
font-weight: 500;
}
.learnMore:hover{
    background: #52ffe8;

}
.themeImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 2rem;
}
.themeImage img{
    max-width:100% ;
    height: 100%;
    /* aspect-ratio: 4/3; */
    object-fit: cover;

}

@media (max-width:400px){
    
    .themeBlock{
        width: 100%;
        height:10rem;
        border-radius: 2rem;
    }
    .themeBlock{
        padding: 0px 20px;
    }
}