.tMain{
width:100%;
height:100px;
margin-top: 40px;
padding: 10px 50px;
margin-bottom: 25rem;
display: flex;
justify-content: center;
}
.themeBlock>.right{
width:45%;
float: left;
height: 28rem;
}
.themeBlock>.left{
width:45%;
height:100%;
overflow: hidden;

}
.themeBlock{
    width:70%;
    display: flex;
    height: 32rem;
flex-shrink: 0;
padding: 0px 35px;
border-radius: 3.5rem;
background: #FFF;
justify-content: space-between;
align-items: center;


}
.title1{
height:auto;
padding-top: 10px;
color: #004D6C;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.desc{
height:auto;
width: 100%;
flex-shrink: 0;
color: #A6A6A6;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 9px;
}
.learnMore{
    position: relative;
    bottom: 0px;
height:20%;
display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #30E3CA;
color: #004D6C;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}
.learnMore:hover{
    background: #52ffe8;

}
.themeImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    border-radius: 5rem;


}
.themeImage img{
    max-width:100% ;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;

}
.themeBox{
    width: 100%;
    height: 100%;
flex-shrink: 0;
border-radius: 3.5rem;
background: #FFF;
padding: 20px 5px 55px;
float: right;
gap: 5px;
justify-items:flex-end;
box-sizing: border-box; 
  margin-bottom: 0px;

}