@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500&display=swap');
:root{
    --light-color:#E4F9F5;
    --primary-color:#30E3CA;
    --secondary-color:#11999E;
    --dark-color:#40514E;

}