.teamMain{
    /* height:30rem; */
    /* border:1px solid black; */
    margin:1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.teamMain>.left{
    width:35vw;
    margin:2rem;
    min-height: 70%;
}
.teamMain>.left>img{
    height:100%;
}
.teamMain>.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:70%;
    width:55vw;
    font-size:calc(55vw * 0.5);
}
.teamMain>.right>h3{
    font-size: 4rem;
    /* text-align: center; */
}
.teamMain>.right>.content{
    font-size: 1.6rem;
    /* font-size:calc(55vw * 0.5); */
}
@media screen and (max-width:480px){
    .teamMain{
        flex-direction: column;
    }
    .teamMain>.left{
        width: 100%;
    }
    .teamMain>.right{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:900px){
    .teamMain>.right>.content{
        font-size: 1.2rem;
        /* font-size:calc(55vw * 0.5); */
    }
}