.publicationsHero{
    /* border:5px solid rgb(41, 29, 29); */
    height:25rem;
    /* margin:0 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
   
  
    background: url('../../../assets/publicationHero.avif');
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: fill; */
    /* background-size: auto; */
    opacity: 0.7;
    margin-top:6rem;

}
.publicationsHero>.heroContent{
    /* border: 1px solid purple; */
    font-size:7rem;
    font-weight: 800;
    color: var(--light-color);
}
@media screen and (max-width:900px){
    .publicationsHero>.heroContent{
        font-size:5rem;
        text-align: center;
    }
}

